<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <img class="rounded-t-lg" src="/assets/images/about/profile.jpg" alt="Portrait photo of Christian Skjerning" />

  <div class="p-5">
    <!-- <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5> -->
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">29 år | Odense</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">STEM interesseret</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">christian at skjerning.eu</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">+45 24 24 70 17</p>
  </div>
</div>


<br>

<div>
  <h3 class="p-4 pl-0 font-extrabold tracking-tight text-gray-900 text-xl dark:text-white">Erfaring</h3>
  <div class="pl-4">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-6">
        <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
          <svg class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </span>
        <h3 class="mb-1 flex items-center text-lg font-semibold text-gray-900 dark:text-white">
          [Virksomhed] ApS
          <span class="me-2 ms-3 rounded bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">Nuværende</span>
        </h3>
        <time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Januar 2024 til Nu</time>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          [Virksomhed]
        </p>
      </li>

      <li class="mb-10 ms-6">
        <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
          <svg class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </span>
        <h3 class="mb-1 flex items-center text-lg font-semibold text-gray-900 dark:text-white">
          Sensohive Technologies / Maturix ApS
        </h3>
        <time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2021 til December 2023</time>
        <!-- <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Maturix</p> -->
      </li>

      <li class="mb-10 ms-6">
        <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
          <svg class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </span>
        <h3 class="mb-1 flex items-center text-lg font-semibold text-gray-900 dark:text-white">
          SDU (Kandidat)
        </h3>
        <time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2019 til Marts 2021</time>
        <!-- <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Data Science</p> -->
      </li>

      <li class="mb-10 ms-6">
        <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
          <svg class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </span>
        <h3 class="mb-1 flex items-center text-lg font-semibold text-gray-900 dark:text-white">
          SDU (Bachelor)
        </h3>
        <time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2016 til Juli 2019</time>
        <!-- <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Lærings- og Oplevelsesteknologi</p> -->
      </li>

      <li class="mb-10 ms-6">
        <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
          <svg class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </span>
        <h3 class="mb-1 flex items-center text-lg font-semibold text-gray-900 dark:text-white">
          Sabbat år
        </h3>
        <time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2015 til August 2016</time>
        <!-- <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Sabbat år.</p> -->
      </li>

      <li class="mb-10 ms-6">
        <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
          <svg class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </span>
        <h3 class="mb-1 flex items-center text-lg font-semibold text-gray-900 dark:text-white">
          HTX
        </h3>
        <time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2012 til Juli 2015</time>
        <!-- <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">HTX</p> -->
      </li>

      <li class="mb-10 ms-6">
        <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
          <svg class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
          UCS10
        </h3>
        <time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2011 til Juli 2012</time>
        <!-- <p class="text-base font-normal text-gray-500 dark:text-gray-400">10. Klasse.</p> -->
      </li>

      <li class="ms-6">
        <span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
          <svg class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
          Stjærskolen
        </h3>
        <time class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2001 til Juli 2011</time>
        <!-- <p class="text-base font-normal text-gray-500 dark:text-gray-400">Folkeskole.</p> -->
      </li>
    </ol>
  </div>
</div>